{% extends 'Layout/layout.html.twig' %}

{% block content %}

{% set rightAnswer = 0 %}

<h1>Saurez-vous répondre à ces questions ?</h1>

{% for question in questions %}
        
        <div class="question">
            <p><strong>{{question.value}}</strong></p>
        </div> 
        {% for answer in question.answers %}
            
            <div class="answers">
            <a href="/themeselected?id={{themeId}}&questionId={{question.id}}&answerId={{answer.id}}" >

            {% if session['answer-' ~ question.id] and (answer.is_true and answer.selected) %}

                <button class="answerbutton" id = "trueanswer" type="button">
                    {{answer.value}}
                </button></a>

            {% set rightAnswer = rightAnswer + 1 %}

            {% endif %}

            {% if session['answer-' ~ question.id] and (answer.is_true == false and answer.selected) %}
            
                <button class="answerbutton" id = "falseanswer" type="button">
                    {{answer.value}}
                </button></a> 

                
            {% endif %}

            {% if session['answer-' ~ question.id] == false %}

                <button class="answerbutton" type="button">
                    {{answer.value}} 
                </button></a> 

            {% endif %}
                
            </div>
        {% endfor %}

{% endfor %}

{{ dump(rightAnswer)}}

<form method="post" action="/results">
    <div class="endButton">
        <input type="hidden" name="results" value="{{rightAnswer}}">
        <button type="submit" class="btn btn-primary">Terminer</button>
    </div>
</form>

{% endblock %}